<h1 class="page-title">Full Stack Java Project Teams</h1>

<div class="app-container">
  <div class="sidebar">
    <h2>Teams</h2>
    <button routerLink="/team1" class="team-button">Team 1</button>
    <button routerLink="/team2" class="team-button">Team 2</button>
    <button routerLink="/team3" class="team-button">Team 3</button>
    <button routerLink="/team4" class="team-button">Team 4</button>
    <button routerLink="/team5" class="team-button">Team 5</button>
    <button routerLink="/team6" class="team-button">Team 6</button>
    <button routerLink="/team7" class="team-button">Team 7</button>
    <button routerLink="/team8" class="team-button">Team 8</button>
    <button routerLink="/team9" class="team-button">Team 9</button>
    <button routerLink="/team10" class="team-button">Team 10</button>

    <button routerLink="/staff1" class="team-button">Staff 1</button>
     <button routerLink="/staff2" class="team-button">Staff 2</button>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
